<%= form_with(model: source, local: true, html: { autocomplete: "off", class: 'w-full'}) do |form| %>
  <% if source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
        <% source.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-4'>
    <%= form.label :url, 'Base url of the site' %>
    <%= form.text_field :url, class: 'text-input w-full' %>

    <div class='italic text-gray-600 dark:text-gray-300 mt-2'>Enter the base url of the site you want to add. For example: <span class='text-green-500'>https://benui.ca</span> not the url of a specific article if you want to add just a single article use the read later feature. Sources with rss feeds will work best, but you can add any website and we will do our best to extract the articles.</div>
  </div>

  <div class='flex'>
    <div class='flex-1'></div>
    <%= form.submit 'Preview', class: 'btn btn-primary' %>
  </div>
<% end %>