<%= form_with(model: source, local: true, html: { autocomplete: "off", class: 'w-full'}) do |form| %>
  <% if source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
        <% source.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-4'>
    <%= form.label :url %>
    <%= form.text_field :url, class: 'text-input w-full' %>
  </div>

  <div class='flex'>
    <div class='flex-1'></div>
    <%= form.submit 'Preview', class: 'btn btn-primary' %>
  </div>
<% end %>