<div class='article-header top-0 z-10'>
  <div class='mx-auto bg-white border-b border-transparent py-2 px-6 rounded-t dark:bg-zinc-800'>
    <% if article.header_image.attached? %>
      <div class='max-h-[120px] overflow-hidden rounded mb-2 mt-4 article-header-image'>
        <%= image_tag article.header_image, width: '100%', class: 'rounded' %>
      </div>
    <% end %>
    <div class='flex items-center'>
      <div class='flex-1'>
        <h1 class='text-xl font-bold'><%= article.name %></h1>
        <div class='flex text-gray-600 dark:text-gray-300'>
          <% if article.source.present? %>
            <h2 class='mr-5 flex items-center'><%= image_tag article.source.favicon, class: 'w-5 h-5 mr-2' if article.source.favicon.attached? %><%= link_to article.source.pretty_name, article.url, target: '_blank', rel: 'noopener noreferrer' %></h2>
          <% else %>
            <h2 class='mr-5 flex items-center'><%= image_tag article.favicon, class: 'w-5 h-5 mr-2' if article.favicon.attached? %><%= link_to URI.parse(article.url).host, article.url, target: '_blank', rel: 'noopener noreferrer' %></h2>
          <% end %>
          <span><%= article.byline %></span>
        </div>
      </div>
      <div class='article-header-buttons hidden gap-2'>
        <%= render 'layouts/dropdown', button: nil do %>
          <%= link_to article.url, target: '_blank', class: 'block border-b border-zinc-200 dark:bg-zinc-800 dark:border-zinc-700 dark:hover:bg-zinc-700 hover:bg-gray-100 rounded-t last:border-none p-2 flex items-center', rel: 'noopener noreferrer', data: { action: 'click->dropdown#closeDropdown' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
            Open
          <% end %>
          <%= link_to reparse_article_path(article), class: 'block border-b border-zinc-200 dark:bg-zinc-800 dark:border-zinc-700 dark:hover:bg-zinc-700 hover:bg-gray-100 last:border-none p-2 flex items-center', data: { action: 'click->dropdown#closeDropdown' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
            </svg>
            Re-download
          <% end %>

          <%= link_to article_path(article), class: 'border-b border-zinc-200 dark:bg-zinc-800 dark:border-zinc-700 dark:hover:bg-red-900 last:border-none p-2 flex rounded-b items-center text-red-400 hover:bg-red-100', data: {  action: 'click->dropdown#closeDropdown', "turbo-method": :delete, turbo_confirm: 'Are you sure you want to delete this article?' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
            Delete
          <% end %>
        <% end %>
        

        <button class='btn btn-secondary' data-action="click->article-expand#toggle" data-controller='tooltip' data-tooltip='Collapse'>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
          </svg>
        </button>
        

        
        <% if article.read_status_read? %>
          <button class='btn btn-secondary flex items-center' data-action="article-expand#undoRead">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-6 6m0 0l-6-6m6 6V9a6 6 0 0112 0v3" />
            </svg>

            Undo Read
          </button>
        <% else %>
          <button class='btn btn-secondary flex items-center' data-action="article-expand#readAndNext" data-controller='tooltip' data-tooltip='N'>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l6-6m0 0l-6-6m6 6H9a6 6 0 000 12h3" />
            </svg>

            Read & Next
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>