<%= form_with(model: @user, local: true, html: { autocomplete: "off", class: 'w-full', data: { turbo: "false" }}) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-4'>
    <h1 class='font-bold text-xl pb-2 mb-2'>Appearence</h1>

    <div class='mb-4'>
      <%= form.label :preferred_theme, 'Theme' %>
      <%= form.select :preferred_theme, options_for_select([['System', 'system'], ['Light', 'light'], ['Dark', 'dark']], @user.preferred_theme), {}, class: 'text-input w-full' %>
    </div>

    <div class='mb-4'>
      <%= form.label :preferred_code_style, 'Code Style' %>
      <%= form.select :preferred_code_style, options_for_select([['Dimmed', 'dimmed'], ['Light', 'bright'], ['Dark', 'dark']], @user.preferred_code_style), {}, class: 'text-input w-full' %>
    </div>

    <div class='mb-4'>
      <%= form.label :preferred_font_size, 'Font Size' %>
      <%= form.select :preferred_font_size, options_for_select([['Small', 'sm'], ['Default', 'md'], ['Large', 'lg'], ['Extra Large', 'xl']], @user.preferred_font_size), {}, class: 'text-input w-full' %>
    </div>

    <div class='mb-4'>
      <%= form.label :preferred_font, 'Font' %>
      <%= form.select :preferred_font, options_for_select(User.preferred_fonts.keys, @user.preferred_font), {}, class: 'text-input w-full' %>
    </div>

    <%= hidden_field_tag 'page', @page %>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>