<%= turbo_frame_tag "edit_user" do %>
  <div class='mx-auto bg-white dark:bg-zinc-800 rounded shadow mt-10 w-1/2 p-6'>
    <h1 class='text-xl font-bold mb-4'>Settings</h1>

    <%= form_with(model: @user, local: true, html: { autocomplete: "off", class: 'w-full'}) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='mb-4'>
        <h1 class='font-bold border-b border-borders dark:border-zinc-600 pb-2 mb-2'>Account</h1>

        <div class='mb-4'>
          <%= form.label :email %>
          <%= form.text_field :email, class: 'text-input w-full' %>
        </div>

        <div class='mb-4'>
          <%= form.label :password %>
          <%= form.text_field :password, class: 'text-input w-full' %>
        </div>

        <div class='mb-4'>
          <%= form.label :password_confirmation %>
          <%= form.text_field :password_confirmation, class: 'text-input w-full' %>
        </div>

        <%= form.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= form_with(model: @user, local: true, html: { autocomplete: "off", class: 'w-full'}) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='mb-4'>
        <h1 class='font-bold border-b border-borders dark:border-zinc-600 pb-2 mb-2'>Appearence</h1>

        <div class='mb-4'>
          <%= form.label :preferred_theme, 'Theme' %>
          <%= form.select :preferred_theme, options_for_select(['system', 'light', 'dark'], @user.preferred_theme), class: 'text-input w-full' %>
        </div>

        <div class='mb-4'>
          <%= form.label :preferred_code_style, 'Code Style' %>
          <%= form.select :preferred_code_style, options_for_select(['dimmed', 'bright', 'dark'], @user.preferred_code_style), class: 'text-input w-full' %>
        </div>

        <div class='mb-4'>
          <%= form.label :preferred_font_size, 'Font Size' %>
          <%= form.select :preferred_font_size, options_for_select(['sm', 'md', 'lg', 'xl'], @user.preferred_font_size), class: 'text-input w-full' %>
        </div>

        
        <%= form.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>