<% if Current.user %>
  <div class='flex flex-col h-screen py-3 px-3 z-10 bg-primary border-r border-borders w-[13%] dark:bg-zinc-800 dark:border-zinc-600'>
    <div class='flex flex-col flex-1 gap-2'>
      <%= link_to 'Reader', root_path, class: 'font-serif font-bold text-3xl py-6 lg:px-5 px-10' %>
      <%= link_to 'ðŸŒŽ All', feed_all_path, class: "btn hover:bg-primary-button/20 #{nav_active('feeds', 'all')}" %>
      <%= link_to 'ðŸ–¨ Sources', feed_feeds_path, class: "btn hover:bg-primary-button/20 #{nav_active('feeds', 'feeds')}" %>
      <%= link_to 'â³ Read later', feed_read_later_path, class: "btn hover:bg-primary-button/20 #{nav_active('feeds', 'read_later')}" %>
      <%= link_to 'ðŸ“– Notes', notes_path, class: "btn hover:bg-primary-button/20 #{nav_active('notes')}" %>

      <div class='h-[1px] bg-borders my-4 dark:bg-zinc-600'></div>
      <%= link_to 'ðŸ“¦ Read', feed_read_path, class: "btn hover:bg-primary-button/20 #{nav_active('feeds', 'read')}" %>
      <%= link_to 'ðŸ“¬ Sources', sources_path, class: "btn hover:bg-primary-button/20 #{nav_active('sources')}" %>
      <%= link_to 'ðŸ“¨ Save an article', new_article_path, class: "btn hover:bg-primary-button/20 #{nav_active('articles', 'new')}" %>
      <%= link_to 'ðŸ”§ Settings', settings_path, class: "btn hover:bg-primary-button/20 #{nav_active('users', 'edit')}" %>
    </div>

    <div class='flex flex-col'>
      <%= render 'layouts/viewport_select' %>
    
      <%= link_to 'Log Out', logout_path, class: "btn btn-link text-center" %>
    </div>
  </div>  
<% end %>