<!DOCTYPE html>
<html class='<%= preference_classes %>'>
  <head>
    <title>Paper Stack</title>

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if ('<%= preferred_theme_class %>' === 'dark' || ('<%= preferred_theme_class %>' === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6915652/6078012/css/fonts.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
  </head>

  <body class="bg-zinc-100 text-gray-900 dark:bg-zinc-900 dark:text-gray-200" data-controller='global-shortcuts'>
    <div class='flex'>
      <%= render 'layouts/sidebar' if Current.user.present? %>
      <main class="flex-1 overflow-scroll h-screen">
        <%= yield %>
      </main>
    </div>

    <div id="tooltip" role="tooltip">
      <div id="tooltip-content">UNKNOWN TOOLTIP</div>
      <div id="arrow" data-popper-arrow></div>
    </div>
  </body>
</html>
